html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: white;
  background-size: 60px 60px;
  height: 100%;
}

.page_wrap {
  min-height: 100%;
  margin-bottom: -90px;
}

.page_wrap:after {
  content: "";
  display: block;
  height: 90px;
}

.nav_logo {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 15px;
  margin-bottom: 0;
  text-align: center;
  height: 100px;
  width: 100px;
  float: left;
  font-family: 'Satisfy', cursive;
  color: white;
  background-color: #ff4d4d;
  padding: 8px 5px 8px 11px;
  font-size: 425%;
  border-radius: 50%;
  letter-spacing: 5px;
  font-weight: normal;
}

.nav_title {
  color: #ff4d4d;
  font-family: 'Satisfy', cursive;
  float: left;
  font-size: 360%;
  margin-top: 30px;
  margin-bottom: 0;
  text-shadow: 2px 2px 5px black;
}

.nav_buff {
  height: 136px;
  width: 100%;
  background-color: #f9f0f0;
  background-image: url('https://eckels.github.io/allergyassist/img/food_banner.jpg');
  background-position: 25% 61%;
}

.nav {
  width: 100%;
  height: 36px;
  background-color: #ff4d4d;
  float: left;
}

.nav_list {
  float: left;
  margin: 0;
  padding: 0;

}

.nav_list_item {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 110%;
  margin-top: 0px;
  height: 35px;
  width: 90px;
  transition: background-color .3s;
  padding-top: 6px;
}

.nav_list_item:hover {
  background-color: #ff1a1a;
  margin-top: 0;
}

.nav_list_link {
  text-decoration: none;
}

.nav_icon {
  margin-right: 12px;
  margin-top: 4px;
  float: right;
  height: 26px;
  width: auto;
}

.divider {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 10px;
  margin-bottom: 0;
  width: 23%;
  float: left;
}

.divider_header {
  color: #ff4d4d;
  font-weight: bold;
  font-size: 150%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  border: solid #ff4d4d 2px;
  padding: 5px;
}

.divider_divider {
  background-color: #ff4d4d;
  padding: 7px;
  padding-bottom: 10px;
}

.divider_desc {
  margin-top: 0;
  color: white;
  text-align: center;
}

.divider_form {

}

.divider_checkbox {

}

.divider_checkbox_text {
  color: white;
}

.divider_button {
  text-align: center;
  color: white;
  border: solid white 1px;
  background: none;
  outline: none;
  padding: 7px 20px 7px 20px;
  margin-top: 12px;
  font-size: 120%;
  transition: background-color .3s;
  transition: color .3s;
}

.divider_button:hover {
  color: #ff4d4d;
  background-color: white;
  cursor: pointer;
}

.divider_button_div {
  justify-content: center;
  display: flex;
}

.divider_search {
  border: none;
  outline: none;
  padding: 4px;
  font-size: 80%;
  width: 80%;
  border-radius: 4px;
}

.divider_search_div {
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
}

.divider_search_img {
  height: 21px;
  width: auto;
  margin-right: 2px;
}

.note_div {
  margin-top: 10px;
  text-align: center;
  float: left;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.note_txt {
  color: #2a2a2a;
}

footer {
  float: left;
  margin-top: 25px;
  height: 90px;
  width: 100%;
  background-color: #2a2a2a;
  margin-bottom: 0;
}

.footer_logo {
  margin-left: 20px;
  margin-right: 12px;
  margin-top: 15px;
  float: left;
  width: auto;
  height: 60px;
}

.footer_title {
  float: left;
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 200%;
  margin-top: 24px;
  font-weight: normal;
}

.footer_list {
  float: left;
  margin-top: 35px;
}

.footer_item {
  display: inline-block;
  margin-left: 20px;
}

.footer_link {
  text-decoration: none;
  color: white;
  transition: color .3s;
}

.footer_link:hover {
  color: #ff4d4d;
}

.footer_icon {
  float: right;
  height: 30px;
  width: auto;
  margin-right: 12px;
  margin-top: 30px;
}

@media (max-width: 750px) {

.divider {
  width: 48%;
}

}

@media (max-width: 675px)  {

.footer_logo {
  margin-right: 5px;
}

.footer_item {
  margin-left: 10px;
}

.footer_icon {
  margin-right: 8px;
}

}

@media (max-width: 600px) {

.footer_logo {
  display: none;
}

.footer_title {
  display: none;
}

.footer_list {
  float: none;
  margin-top: 10px;
  margin-bottom: 0;
  justify-content: center;
  display: flex;
}

.footer_item {
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 0;
}

.footer_link {
  margin-bottom: 0;
}

.footer_icon {
  float: none;
  margin-top: 0px;
}

.footer_div {
  justify-content: center;
  display: flex;
  margin-top: -20px;
}

}

@media (max-width: 500px) {

.nav_logo {
  height: 80px;
  width: 80px;
  font-size: 340%;
}

.nav_title {
  font-size: 288%;
}

.nav_buff {
  height: 115px;
}

}

@media (max-width: 450px) {

.divider {
  width: 98%;
}

}

@media (max-width: 400px) {

.nav_logo {
  height: 60px;
  width: 60px;
  font-size: 255%;
  margin-right: 5px;
  margin-left: 5px;
}

.nav_title {
  font-size: 200%;
}

.nav_buff {
  height: 95px;
}

.nav {
  height: 30px;
}

.nav_list_item {
  font-size: 90%;
  width: 60px;
  height: 28px;
}

.nav_icon {
  margin-right: 10px;
  height: 22px;
}

}
